.InterestsList {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 7px;
  align-items: stretch;
}

.InterestsHeader{
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 11fr 2fr 1fr 2fr;
  font-size: 17px;
  padding-bottom: 10px;
  
}

.ItemHeader{

  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: white 1px solid;
  
}
