.Interest {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 11fr 2fr 1fr 2fr;
  font-size: 17px;
}

.InterestStateNumber {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.InterestState {
  max-width: 10%;
  padding: 5px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  border-bottom: white 1px solid;
}

.InterestNumber {
  color: white;
  font-size: 15px;
  padding-left: 0px;
  padding-right: 7px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-right: white 1px solid;
  border-bottom: white 1px solid;
}

.InterestName {
  color: white;
  padding: 10px;
  justify-content: left;
  align-items: center;
  border-bottom: white 1px solid;
}



.InterestType {
  color: #0a0a0a;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  padding-top: 10px;
  border-bottom: white 1px solid;
}

.InterestTypeText{
  text-decoration: none;
  
  padding: 2px 6px 2px 6px;
}


.InterestScore {
  color: white;
  font-size: 17px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-left: white 1px solid;
  border-right: white 1px solid;
  border-bottom: white 1px solid;
}

.InterestProgress {
  color: white;
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: white 1px solid;
}
